<!-- index.html -->
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,
					initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" href="../static/images/favicon.png" type="">

    <title>Verification</title>
    <link rel="stylesheet" href="../static/css/activation.css"/>
    <link th:href="@{/css/style.css}" href="../static/css/style.css"  rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" href="../static/css/bootstrap.css" />

</head>

<body>
<div class="hero_area">

    <div class="hero_bg_box">
        <img th:src="@{/images/hero-bg.png}" src="../static/images/hero-bg.png" alt="">
    </div>
    <!-- header section strats -->
    <header th:insert="/user_panel_navbar :: navbar" class="header_section">
    </header>

    <div class="card text-center col-xl-5 col-lg-7 col-md-10 m-auto ">
        <div class="card-header">
            <strong>Verify your e-mail</strong>
        </div>
        <div class="card-body">
            <h5 class="card-title">Verification</h5>
            <p class="card-text">Don't Forget to look your spam folder</p>
            <div id="inputs" class="inputs">
                <input class="input" type="text"
                       inputmode="numeric" maxlength="1"/>
                <input class="input" type="text"
                       inputmode="numeric" maxlength="1"/>
                <input class="input" type="text"
                       inputmode="numeric" maxlength="1"/>
                <input class="input" type="text"
                       inputmode="numeric" maxlength="1"/>
                <input class="input" type="text"
                       inputmode="numeric" maxlength="1"/>
                <input class="input" type="text"
                       inputmode="numeric" maxlength="1"/>
            </div>
            <br>
            <div class="card-footer text-muted">
            <a href="#" class="btn btn-success">Verify</a>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/activation.js"></script>
</body>

</html>
