<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Randevu Formu</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="hero_area">

  <div class="hero_bg_box">
    <img th:src="@{/images/hero-bg.png}" src="../static/images/hero-bg.png" alt="">
  </div>
  <!-- header section strats -->
  <header th:insert="/user_panel_navbar :: navbar" class="header_section">
  </header>

<header class="header_section" th:insert="/user_panel_navbar :: navbar"></header>

<div class="container mt-5">
  <h2>Randevu Formu</h2>

  <form action="#" th:action="@{/appointment/submit}" th:object="${appointment}" method="post">

    <!-- Tarih Seçimi -->
    <div class="form-group">
      <label for="tarih">Date:</label>
      <input type="date" class="form-control" id="tarih" th:field="*{appointmentDate}">
    </div>

    <!-- Bölüm Seçimi -->
    <div class="form-group">
      <label >Specialties:</label>
      <select id="mainSelect" class="form-control"  >
        <option   th:each="temp : ${specialties}" th:text="${temp}" th:value="${temp}"></option>


        <!-- Diğer bölümler -->
      </select>
    </div>

    <!-- Doktor Seçimi -->
    <div class="form-group">
      <label>Doctor:</label>
      <select id="subSelect"  name="doctorId" class="form-control"   >


        <!-- Sub-options will be populated dynamically -->
      </select>
    </div>


    <!-- Submit Butonu -->
    <button type="submit" class="btn btn-primary">Randevu Al</button>

  </form>
</div>

<!-- jQuery ve Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script th:inline="javascript">

</script>

<script th:inline="javascript">
   // Birinci select'i seçildiğinde çağrılacak fonksiyon
    document.getElementById("mainSelect").addEventListener("change", function() {
    // Seçilen değeri al
     var selectedValue = this.value;


    // Endpoint URL'i oluştur
    var endpoint = "http://localhost:8080/api/getDoctors/" + selectedValue;

    // GET isteği oluştur
    fetch(endpoint)
            .then(response => response.json()) // JSON verisini parse et
            .then(data => {
              // İkinci select'i temizle
              var secondSelect = document.getElementById("subSelect");
              secondSelect.innerHTML = "";

              const id = document.getElementById("id")

              // Gelen verileri ikinci select'e ekle
              data.forEach(item => {
                var option = document.createElement("option");
                option.value = item.uid;
               console.log(item.uid)
                option.textContent = item.name + " " + item.surname;
                secondSelect.appendChild(option);

              });



            })


            .catch(error => {
              console.error('Bir hata oluştu:', error);
            });
  });
</script>



</div>
<script type="text/javascript" th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
</body>
</html>