<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Save Doctor</title>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" href="../static/css/style.css"  rel="stylesheet" />
    <!-- responsive style -->
    <link th:href="@{/css/responsive.css}" href="../static/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" href="../static/css/bootstrap.css" />
    <style>
        #im_container {
            border: 1px solid #ccc;
            padding: 20px;
            margin-top: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        }
        .btn-success {
        background-color: #64C5BD;
        min-height:2em;
        }
        .form-control{
        width: 50%!important;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }
    </style>
</head>

<body>
<div class="hero_area">

    <div class="hero_bg_box">
        <img th:src="@{/images/hero-bg.png}" src="../static/images/hero-bg.png" alt="">
    </div>
    <!-- header section strats -->
    <header th:insert="/user_panel_navbar :: navbar" class="header_section">
    </header>

    <div class="container card mb-3" id="im_container">

    <h3> Doctor Directory</h3>
    <hr>
    <div class="row">
        <div class="col-6">
    <h4 class=" mb-4 m-auto">Save Doctor</h4>
        </div>
        <button type="submit" class="btn btn-info m-auto col-3"
        >Save</button>
        <a th:href="@{/admin/list}" class="col-3 m-auto">
        <div class="btn btn-warning col-12 m-auto p-2">
            Back te Doctor List
        </div>
        </a>
    </div>
    <form action="#" th:action="@{/admin/save}"
          th:object="${user}" method="post">
        <div class="row">

        <input type="hidden" th:field="*{uid}"/>
        <input type="text" th:field="*{name}"
               class="form-control mb-4 col-6" placeholder="First Name">
        <input type="text" th:field="*{surname}"
               class="form-control mb-4 col-6" placeholder="Last Name">
            </div>
        <div class="row">
        <input type="text" th:field="*{email}"
               class="form-control mb-4 col-6" placeholder="Email">
        <select th:field="*{gender}" id="gender" name="gender" class="form-control mb-4 col-6" required>
            <option th:each="tempGender : ${gender}" th:value="${tempGender}" th:text="${tempGender}"></option>
        </select>
        </div>
        <div class="row">
        <input type="text" th:field="*{contactNumber}"
               class="form-control mb-4 col-6" placeholder="Contact Number">
        <input type="date" th:field="*{dateOfBirth}"
               class="form-control mb-4 col-6" placeholder="Date of Birth">
        </div>
        <div class="row">
        <input type="text" th:field="*{address}"
               class="form-control mb-4 col-6" placeholder="Address">
        <input type="hidden" th:field="${doctor.did}"
               class="form-control mb-4 col6" >
        </div>
        <div class="row">
        <input type="text" th:field="${doctor.specialty}"
               class="form-control mb-4 col-6" placeholder="Speciality">
        <select th:field="${doctor.degree}" id="degree" name="degree" class="form-control mb-4 col-6" required>
            <option th:each="tempDeg : ${degrees}" th:value="${tempDeg}" th:text="${tempDeg}"></option>
        </select>
        </div>
    </form>

</div>
</div>
<script type="text/javascript" th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
</body>
</html>