<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <!-- Bootstrap CSS -->
  <!-- Custom styles for this template -->
  <link th:href="@{/css/style.css}" href="../static/css/style.css"  rel="stylesheet" />
  <!-- responsive style -->
  <link th:href="@{/css/responsive.css}" href="../static/css/responsive.css" rel="stylesheet" />
  <!-- bootstrap core css -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" href="../static/css/bootstrap.css" />
  <style>
    /* Özel CSS */
    .sign-up-btn {
      background-color: #28a745;
      border-color: #28a745;
    }
  </style>
</head>
<body>
<div class="hero_area">

  <div class="hero_bg_box">
    <img th:src="@{/images/hero-bg.png}" src="../static/images/hero-bg.png" alt="">
  </div>
  <!-- header section strats -->
  <header th:insert="/user_panel_navbar :: navbar" class="header_section">
  </header>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Login</h4>
        </div>
        <div class="card-body">
          <form  th:action="@{/secProcessUser}" th:object="${user}" method="post" sec:form>
            <div th:if="${param.error}" class="alert alert-danger">
              <i >Invalid email or password!!</i>
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
              <i>You have been logged out</i>
            </div>
            <div class="form-group">
              <input type="hidden" th:field="*{uid}"/>
              <label>Email</label>
              <input type="text"  id="username" name="username" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password"  id="password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
          </form>
          <form action="#" th:action="@{/signUp}" method="get">
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-block sign-up-btn">Sign Up</button>
            </div>
          </form>
          <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- jQuery and Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
</body>
<script type="text/javascript" th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
</html>
