<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Özel CSS */
    .sign-up-btn {
      background-color: #28a745;
      border-color: #28a745;
    }
  </style>
</head>
<body>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Login</h4>
        </div>
        <div class="card-body">
          <form  th:action="@{/processUser}" th:object="${user}" method="post" sec:form>
            <div th:if="${param.error}" class="alert alert-danger">
              <i >Invalid email or password!!</i>
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
              <i>You have been logged out</i>
            </div>
            <div class="form-group">
              <input type="hidden" th:field="*{uid}"/>
              <label>Email</label>
              <input type="text"  id="username" name="username" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password"  id="password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
          </form>
          <form action="#" th:action="@{/signUp}" method="get">
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-block sign-up-btn">Sign Up</button>
            </div>
          </form>
          <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- jQuery and Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
