<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medify</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" href="../static/css/bootstrap.css"/>

    <link th:href="@{/css/responsive.css}" href="../static/css/responsive.css" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <link th:href="@{/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet"/>
    <style>
        header>div.container {
        border: none !important;
        }
    </style>
</head>
<body>

    <!-- header section strats -->
    <header class="header_section">
        <div th:fragment="navbar" class="container border-0">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index.html">
            <span>
              Medify
            </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/secProcessUser}">Profile and Information <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/save}" sec:authorize="hasAuthority('ADMIN')"> Admin Panel(Create Doctor)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/doctor/getCalender}" sec:authorize="hasAuthority('DOCTOR')"> Calender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/appointment/create}" sec:authorize="hasAuthority('PATIENT')">Appointments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/appointment/healthrecord}" sec:authorize="hasAuthority('PATIENT')"> Health Records</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/record/}" sec:authorize="hasAuthority('DOCTOR')"> Create a HealthRecord or view</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link box" th:href="@{/logout}" methods="Post">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</body>
</html>